<h1>Title: {{title}}</h1>

<!--If no one has shared the post yet, the number should be zero -->
<p>Number of people shared the publication:{{usersShared.length}}</p>
<a href="/artGallerys/{{_id}}/details" class="image-details">View publication</a>